<h1>Listing projects</h1>


<%= link_to 'New Project', new_project_path %>


<div id="projects" class="transitions-enabled">
    <% @projects.each do |project| %>
    <div class="box panel panel-default">
        <%= project.headline %>
        <%= image_tag project.image.url(:medium) %>
        <div class="panel-body">
        
        <%= project.user.email if project.user %>
        <%= project.location %>
        <%= project.project_on %>
        <%= project.project_end%>
        <%= project.description %>
        <%= link_to 'Show', project %>
        <% if project.user == current_user %>
        <%= link_to 'Edit', edit_project_path(project) %></td>

        <%= link_to 'Destroy', project, method: :delete, data: { confirm: 'Are you sure?' } %>
        <% end %>
      </div>
    </div>
    <% end %>
  </div>