<p>
        	<%= link_to 'Back', projects_path, class: "btn btn-success btn-lg"  %> | <%= link_to 'Edit', edit_project_path(@project), class: "btn btn-success btn-lg"  %>
			
    </p>

<div class="jumbotron text-center">

	

	<h1 id="tagline"><%= @project.headline %></h1>
		
    

</div>

<div class="text-center well">

	<div class="fb-like" data-href="https://developers.facebook.com/docs/plugins/" data-layout="box_count" data-action="like" data-show-faces="true" data-share="true"></div>


</div>



<div class="col-md-4">

		<h2 class="text-center">Details</h2>
		<br />

		<h4> Created by <%= @project.user.name if @project.user %> </h4>

		<br />

		<%= image_tag @project.image.url(:medium) %>

		<br />

		<p>
		  <strong>Location:</strong>
		  <%= @project.location %>
		</p>

		<p>
		  <strong>When:</strong>
		  <%= @project.project_on %>
		</p>

		

</div>	

<div class="col-md-8">

	<h2 class="text-center">Discussion</h2>

	<p class="lead">
		  
		  <%= @project.description %>
		</p>

	<div id="disqus_thread"></div>
        <script type="text/javascript">
            /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
            var disqus_shortname = 'BYOD'; // required: replace example with your forum shortname

            /* * * DON'T EDIT BELOW THIS LINE * * */
            (function() {
                var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
                (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
            })();
        </script>


</div>	


	<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

