<p id="notice"><%= notice %></p>

<p>
  <strong>Headline:</strong>
  <%= @project.headline %>
</p>

<p>
  <strong>Location:</strong>
  <%= @project.location %>
</p>



<p>
  <strong>Start Date:</strong>
  <%= @project.project_on %>
</p>

<p>
  <strong>End Date:</strong>
  <%= @project.project_end %>
</p>

<p>
  <strong>Description:</strong>
  <%= @project.description %>
</p>

<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>
